In [30]:
import sqlite3

conn = sqlite3.connect('modeldb.db')

In [ ]:
conn.execute("INSERT INTO MYMODEL (Weights,) \
      VALUES ('C:/Users/Administrator/Desktop/vu/combine/model/best.pt')")

In [10]:
conn.execute(f"INSERT INTO MYMODEL (Weights,Confidence,Joined,Ok,Num,NG,WidthMin, WidthMax,HeightMin,HeightMax) \
      VALUES ({str('C:/Users/Administrator/Desktop/vu/combine/model/best5.pt')},50,1, 1, 1, 1, 0, 10000, 0, 10000)")

OperationalError: unrecognized token: ":"

In [31]:
conn.commit()
conn.close()

In [16]:
conn.execute("""INSERT INTO MYMODEL (Weights,Confidence,Joined,Ok,Num,NG,WidthMin, WidthMax,HeightMin,HeightMax) \
               VALUES (?,?,?,?,?,?,?,?,?,?);""", (str('C:/Users/Administrator/Desktop/vu/combine/model/best5.pt'), 50,1,1,1,1,0,10000,0,10000))

In [47]:
import sqlite3

conn = sqlite3.connect('modeldb.db')

cursor = conn.execute("SELECT ChooseModel,Camera,Weights,Confidence,Joined,Ok,Num,NG,WidthMin,WidthMax,HeightMin,HeightMax from MYMODEL")
myrows = []

for row in cursor:
    if row[0] == '1':
        row1_a, row1_b = row[1].strip().split('_')
        if row1_a == '1' and row1_b == '0':
            #print(row[3])
            pass
        if row1_a == '1':
            pass
   #print("NAME = ", row[1])
   #print("ADDRESS = ", row[2])
   #print("SALARY = ", row[3], "\n")
#print(myrows)
#print(myrows[0])
conn.close()

T
r
u
e
T
r
u
e
T
r
u
e
T
r
u
e
T
r
u
e
T
r
u
e
T
r
u
e
T
r
u
e
T
r
u
e
T
r
u
e
T
r
u
e
T
r
u
e
T
r
u
e
T
r
u
e
T
r
u
e
T
r
u
e
T
r
u
e
T
r
u
e

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')

conn.execute("UPDATE COMPANY set SALARY = 25000.00 where ID = 1")
conn.commit()

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
   print()
conn.close()

In [ ]:
conn.execute("UPDATE MYMODEL SET ChooseModel = ?, Camera = ?, Weights = ?, Confidence = ?, Joined = ?, Ok = ?, Num = ?, NG = ?, WidthMin = ?, WidthMax = ?, HeightMin = ?, HeightMax = ? where (ChooseModel = ? AND Camera LIKE ?)",  ('1','1'+ '_' +'0' ,"C:\Users\Administrator\Desktop\vu\combine\model\best1_h.pt", 25,True, True, True, True, 0, 10000, 0, 10000, '1', '1%')

In [ ]:
conn.execute("UPDATE MYMODEL SET ChooseModel = ?, Camera = ?, Weights = ?, Confidence = ?, Joined = ?, Ok = ?, Num = ?, NG = ?, WidthMin = ?, WidthMax = ?, HeightMin = ?, HeightMax = ? where (ChooseModel = ? AND Camera = ?)", 
 str(i)), str(i) +'_'+ str(item))

In [ ]:
str(values[model.names[item] + '_' + str(i)]), str(values[model.names[item]+ '_OK_' + str(i)]), int(values[model.names[item]+ '_Num_' + str(i)]), str(values[model.names[item]+ '_NG_' + str(i)]), int(values[model.names[item] + '_Wn_' + str(i)]), int(values[model.names[item] + '_Wx_' + str(i)]), int(values[model.names[item]+ '_Hn_' + str(i)]), int(values[model.names[item] + '_Hx_' + str(i)])

In [ ]:
DELETE FROM table_name WHERE condition;

In [ ]:
str(values['have_save_OK_1']),str(values['have_save_OK_2']),str(values['have_save_NG_1']),str(values['have_save_NG_2']),str(values['save_OK_1']),str(values['save_OK_2']),str(values['save_NG_1']),str(values['save_NG_2'])

In [ ]:
str(values['have_save_OK_1']),str(values['have_save_OK_2']),str(values['have_save_OK_3']),str(values['have_save_OK_4']),str(values['have_save_NG_1']),str(values['have_save_NG_2']),str(values['have_save_NG_3']),str(values['have_save_NG_4']),str(values['save_OK_1']),str(values['save_OK_2']),str(values['save_OK_3']),str(values['save_OK_4']),str(values['save_NG_1']),str(values['save_NG_2']),str(values['save_NG_3']),str(values['save_NG_4']),